#june2007 h1, #june2007 h1 a:link, #june2007 h1 a:visited, #june2007 h1 a:hover {background: #fff url(october2005.gif);}
.june2007current {display: none;}

#june2007 #shop-nav {position: absolute; display: block;
top: 330px; left: 14px;
margin: 0; padding: 0;
width: 76px; height: 32px;
background: url(shop-on.gif);
text-indent: -9999px;
/* \*/
overflow: hidden;
/* */}

#june2007 #shop-nav a:link, #june2007 #shop-nav a:visited {float: left;
width: 76px; height: 32px;
border-bottom: none;
background: url(shop.gif);}

#june2007 #shop-nav a:hover {border-bottom: none;
background: url(shop-on.gif);}
/* ph=1 */
